services:
  - type: web
    name: portfolio-backend
    env: python
    buildCommand: pip install -r server/requirements.txt
    startCommand: gunicorn --chdir server app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.10.0
